<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>My amazing blog</title>
</head>

<body>

    <div id="header">
        <p> HEADER : Bienvenu sur ce site de polls</p>
        <a href="{% url 'polls:all' %}">All questions</a>
        <a href="{% url 'polls:statistics' %}">Statistics</a>
        <a href="{% url 'polls:add' %}">Add question</a>
        <a href="{% url 'admin:index' %}">Admin</a>

    </div>

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>

    <div id="toto">
        {% block toto %}

        {% endblock %}
    </div>

</body>
</html>