{% extends "base.html" %}
{% load static %}

{% block toto %}

<h1>Add a question</h1>
{% if error_message %}
 <p><strong>{{ error_message }}</strong></p>
{% endif %}
<form action="{% url 'polls:confirm_add' %}" method="post">
{% csrf_token %}
 <label for="question_text">Question text:</label>
 <input type="text" name="question_text" id="question_text">
 <br>
 {% for no_choix in liste_no_choix %}
 <label for="choix_{{ no_choix }}">
 choice #{{ forloop.counter }}:</label>
 <input type="text" name="choix_{{ no_choix }}"
 id="choix_{{ no_choix }}" ><br>
 {% endfor %}
 <input type="submit" value="Add">
</form>
{% endblock %}

{% block content %}
{% endblock %}