{% extends "base.html" %}
{% load static %}

{% block toto %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li>
            <a href="{% url 'polls:detail' question.id %}">
                {{ question.question_text }} — {{ question.pub_date }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<a href="{% url 'polls:add' %}">Add a question</a>

<img src="{% static 'polls/images/random-bullshit-go.jpg' %}" alt="img test">

{% endblock %}

{% block content %}
{% endblock %}
